<div class="main-content">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#">
                    <img class="img" src="../assets/img/faces/favicon.png" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Universidad de Cuenca</h6>
                  <h4 class="card-title">Sistema para el Consultorio Odontológico de la Universidad de Cuenca</h4>
                  <p class="card-description">
                      Este módulo fue desarrollado como parte de la materia Base de Datos II, periodo mar-jul 2019
                  </p>
                </div>
              </div>
            </div>
      </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/jonathan.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev</h6>
            <h4 class="card-title">Jonathan Campoberde</h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/JonnHenry" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/villie.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Docente</h6>
            <h4 class="card-title">Ing Villie Morocho</h4>
            <p class="card-description">
            </p>
            <a href="#" class="btn btn-primary btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/Hackerman.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev
                
            </h6>
            <h4 class="card-title">Miguel Macias
            </h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/TheWorstOne" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  